[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.3.0
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
	branch = v0.0.123
[submodule "lib/splits-utils"]
	path = lib/splits-utils
	url = https://github.com/0xSplits/splits-utils
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate


