[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/splits-contracts"]
	path = lib/splits-contracts
	url = https://github.com/0xSplits/splits-contracts
