[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
remappings = ['ds-test/=lib/ds-test/src/', 'solmate/=lib/solmate/src/']

[rpc_endpoints]
goerli = "${GOERLI_RPC_URL}"
# See more config options https://github.com/gakonst/foundry/tree/master/config

[fmt]
bracket_spacing = false
int_types = "long"
line_length = 120
multiline_func_header = "attributes_first"
number_underscore = "thousands"
quote_style = "double"
single_line_statement_blocks = "single"
tab_width = 2
wrap_comments = true

[fuzz]
runs = 50000
